---
//import { news } from '../data/news'
//const response = await fetch("http://localhost:3000/news")
//const news = await response.json() 
type News = {
  order: number;
  category: string;
  url: string;
  image: string;
  title: string;
  summary: string
}

type NewsGroupedBy = {
  category: string;
  news: News;
}
export interface Props {
  news: News[]
}
export interface Props {
  news: News[]
}

const { news } = Astro.props

---

  {
    news.map (({url, image, title, summary}) => {
      return (
        <section class="mn-section">
          <article class="mn-article">
            <a 
              href={url}
              class="mn-anchor"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Read more ...">
              <img
                alt=""
                src={image} 
                class="mn-image"/>
            </a>

            <div class="mn-title">
              <a 
                href={url}
                class="mn-anchor"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="Read more ...">
                <strong>
                  {title}
                </strong>
              </a>
              <p class="mn-summary">
                <span style="white-space: pre-line">
                  {summary}
              </span>
              </p>
            </div>
          </article>

          <hr class="mn-line"/>
        </section>
     )
    })
  }
