---
import Main3Left  from './Main3Left.astro';
import Main3Right from './Main3Right.astro';
import type { News } from '../services/interfaces/newsletter.d'
import { calculeClasesReverse } from '../services/getnewsletters.ts'
export interface Props {
  news: News;
  widthPhotoDefault: number
}

const {news, widthPhotoDefault } = Astro.props
if (!news.widthPhoto && news.widthPhoto>0) news['widthPhoto'] = widthPhotoDefault

const reverse = calculeClasesReverse(news) 

---
<!-- ARTICLE -->
{
<table class="row row-3" align="center" width="100%">
  <tbody>
    <tr>
      <td>
        <table class="row-content stack mn-row-content-article" align="center" width="800" >
          <tbody>
            <tr class={reverse.rever}>
                {   reverse.rever == 'reverse'
                    ? <Main3Left  news={news} reverse={reverse}  widthPhoto={news.widthPhoto}/>
                      <Main3Right news={news} reverse={reverse}  widthPhoto={news.widthPhoto}/>
                    :  
                      <Main3Right  news={news} reverse={reverse}  widthPhoto={100-news.widthPhoto}/>
                      <Main3Left  news={news} reverse={reverse}  widthPhoto={100-news.widthPhoto}/>
                }
            </tr>
          </tbody>
        </table>
      </td> 
    </tr> 
  </tbody>
</table>
<!-- End of ARTICLE -->